/* Google font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap');


/* Font Styling */
html, body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}

.text-tennis {
    color: #1EBBA3;
}

/*--- Nav Scrolling Offset --*/
.offset:before {
    content: "";
    height: 4rem;
    display: block;
    margin-top: -4rem;
 }

/* Headings */

.heading {
    padding-top: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 1.9rem;
}

.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: #1EBBA3;
    margin: 0 auto 2rem;
}

/* NAVIGATION */

.navbar-brand img {
    height: 3rem;
}

.navbar {
    padding: .7rem 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    font-size: .9rem;
    transition: background-color;
}

.navbar-nav li {
    padding-right: .8rem;
}


/* LANDING PAGE */

.caption {
    height: 100vh;
    min-height: 500px;
    background-image: url(../images/landing.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.caption h1 {
    font-size: 4.0rem;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h3 {
    font-size: 2.0rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 2rem;
}

.caption .btn-lg {
    border-width: medium;
    padding: .8rem 1.5rem;
    font-size: 1.0rem;
}

/*-- Remove Button Outline --*/
button:focus, a:focus, a.btn:focus {
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
    transition: all .6s ease;
}
 button, a, a.btn,
 .svg-inline--fa {
    transition: all .6s ease;
}

/* Location */


.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* Facilities */

.facility span {
    color: #1EBBA3;
    margin-bottom: .6rem;
}

 .facility h3 {
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-bottom: .4rem;
}

/* Team */

.card:hover {
    transform: scale(.95);
 }
 
 .social {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
 }
 .social li {
    display: inline;
    padding-right: .8rem;
 }
.social li a {
    color: #1EBBA3;
    transition: all .2s ease;
 }
 
 .social li a:hover {
    color: #505962;
 }

 /* Location */

 .map-container-6{
 overflow:hidden;
 padding-bottom:56.25%;
 position:relative;
 height:0;
 }

 .map-container-6 iframe{
 left:0;
 top:0;
 height:100%;
 width:100%;
 position:absolute;
 }


/* Gallery */

.portfolio-item {
    padding: .1rem;
}

.portfolio-item img:hover {
    transform: scale(1.3);
    cursor: zoom-in;
}

 .portfolio-item img {
    transition: transform .4s ease;
}

/* BLOG */

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing img{
    border-radius: 50%;
    transition: transform .3s ease;
}
 
.marketing blockquote .svg-inline--fa {
    margin: 1rem;
    color: #1EBBA3;
}
 
.blogger {
    border-top: .1rem solid #1EBBA3;
}


/* Timetable */

.bg-light-gray {
    background-color: #f7f7f7;
}
 
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
 
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
 
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
 
.bg-sky.box-shadow {
    box-shadow: 0px 5px 0px 0px #00a2a7
}
 
.bg-orange.box-shadow {
    box-shadow: 0px 5px 0px 0px #af4305
}
 
.bg-green.box-shadow {
    box-shadow: 0px 5px 0px 0px #4ca520
}
 
.bg-yellow.box-shadow {
    box-shadow: 0px 5px 0px 0px #dcbf02
}
 
.bg-pink.box-shadow {
    box-shadow: 0px 5px 0px 0px #e82d8b
}
 
.bg-purple.box-shadow {
    box-shadow: 0px 5px 0px 0px #8343e8
}
 
.bg-lightred.box-shadow {
    box-shadow: 0px 5px 0px 0px #d84213
}
 
.bg-sky {
    background-color: #02c2c7
}
 
.bg-orange {
    background-color: #e95601
}
 
.bg-green {
    background-color: #5bbd2a
}
 
.bg-yellow {
    background-color: #f0d001
}
 
.bg-pink {
    background-color: #ff48a4
}
 
.bg-purple {
    background-color: #9d60ff
}
 
.bg-lightred {
    background-color: #ff5722
}
 
.padding-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}
 
.padding-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}
 
 .margin-10px-bottom {
    margin-bottom: 10px;
 }
 
 .border-radius-5 {
    border-radius: 5px;
 }
 
 .margin-10px-top {
    margin-top: 10px;
 }
 
 .font-size14 {
    font-size: 14px;
 }
 
 .text-light-gray {
    color: #d6d5d5;
 }
 
 .font-size13 {
    font-size: 13px;
 }
 
 .table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
 }

 .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
 }

 /* Blog */

 #blog-carousel {
    max-width: 1200px;
    margin: 0 auto;
 }
 
 .blog img {
    border-radius: 50%;
    transition: transform .3s ease;
 }
 
 .blog img:hover {
    transform: scale(.95);
 }
 
 blockquote .svg-inline--fa {
    margin: 1rem;
    color: #1EBBA3;
 }
 
 .blog-hr {
    border-top: .1rem solid #1EBBA3;
 }

 /* Pricing */

 .pricing-column {
    background-color: white;
    height: 100%;
    padding: 1.6rem;
    border-top: .25rem solid #1EBBA3;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
    transition: transform .7s ease;
    position: relative;
    overflow: hidden;
 }
 
 .pricing-column:hover {
    transform: scale(1.1);
 }
 
 .pricing-column h4 {
    font-size: 1.1rem;
    font-weight: 700;
 }
 
 .ribbon {
    background-color: #6c757d;
    color: white;
    font-size: .8rem;
    font-weight: 700;
    height: 2rem;
    width: 10rem;
    padding-top: .4rem;
    position: absolute;
    transform: rotate(45deg);
    right: -2.8rem;
    top: 1.5rem;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .25);
 }

 /* Contact */

.footer {
    background: url(../images/footer.jpg) no-repeat;
    background-size: cover;
    color: white;
    background-color: #505962;
}
 
.row.outer {
    background-color: rgba(57, 63, 70, .85);
    padding: 1rem 2rem 3rem;
}
 
.footer img {
    height: 3rem;
    margin: 1.5rem 0;
}
 
.footer a,
.footer ul.social-media li a {
    color: white;
}
 
.footer ul.social-media li a:hover {
    color: #1EBBA3;
}
 
.footer h3 {
    text-transform: uppercase;
    margin: 1.5rem 0;
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

.social-media li {
    display: inline;
    padding-right: .8rem;
}

.social-media li a {
    color: #1EBBA3;
    transition: all .2s ease;
}
 
.social-media li a:hover {
    color: #505962;
}
 
 /*--- Contact Form --*/
.form-group {
    margin-bottom: 1.3rem; 
}
 
.form-control {
    background-color: #53595f;
    border-radius: 0;
    border: .15rem solid #666b71;
    color: white!important;
    font-size: 1.1rem;
}
 
.form-control:focus {
    background-color: #53595f;
    border: .15rem solid #666b71;
}
 
.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #b2b5b8!important;
}
 
.socket {
    border-top: .2rem solid #666b71;
    width: 100%;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 992px (lg) */
@media (max-width: 991.98px) {
    .caption h1 {
       font-size: 3.5rem;
       letter-spacing: .2rem;
       padding-bottom: .8rem;
    }
    .caption h3 {
       font-size: 2.2rem;
       padding-bottom: 1.7rem;
    }
    .caption .btn-lg {
       padding: .7rem 1.2rem;
       font-size: 1rem;
    }
    .marketing img {
       max-width: 50%;
       margin: 0 auto;
    }
 }
 
 /* Devices under 768px (md) */
 @media (max-width: 767.98px) {
    .caption h1 {
       font-size: 2.7rem;
       letter-spacing: .15rem;
       padding-bottom: .5rem;
    }
    .caption h3 {
       font-size: 1.7rem;
       padding-bottom: 1.2rem;
    }
    .caption .btn-lg {
       padding: .6rem 1.1rem;
    }
    #features h1 {
       font-size: 2rem;
    }

    .top-scroll {
       display: none!important;
    }
 }
 
 /* Devices under 576px (sm) */
 @media (max-width: 575.98px) {
    .caption h1 {
       font-size: 1.9rem;
       letter-spacing: .1rem;
       padding-bottom: .4rem;
    }
    .caption h3 {
       font-size: 1.2rem;
       padding-bottom: 1rem;
    }
    .caption .btn-lg {
       padding: .4rem .9rem;
       font-size: .9rem;
    }
 }